In [2]:
type(1)

int

In [3]:
type("Sonali")

str

In [4]:
type(0.99998)

float

In [5]:
type(True)

bool

In [6]:
a=10

In [7]:
type(a)

int

In [8]:
s="Sonali Narharshettiwar"

In [9]:
type(s)

str

In [10]:
a=199
b=99

In [12]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

298
100
19701
2.01010101010101

# String

In [13]:
first_name="Sonali"
last_name="Narharshettiwar"

In [14]:
print("My first name is {} and  last name is {} ".format(first_name,last_name))

My first name is Sonali and  last name is Narharshettiwar

In [15]:
len(first_name)

6

In [16]:
type(['1',2,3,4,5])

list

# Boolean

In [38]:
my_str="Sonali Narharshettiwar"

In [39]:
print(my_str.isalnum()) #check of all the character are number
print(my_str.isalpha())
print(my_str.isdigit())
print(my_str.istitle()) #if string has capital letter
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith("r"))
print(my_str.startswith("S"))

False
False
False
True
False
False
False
True
True

# Logical operators

In [40]:
True or True

True

In [41]:
True or False

True

In [42]:
True and False

False

In [44]:
False and False

False

In [45]:
True and  True

True

In [46]:
str_example="Hello World!!"
my_str="Sonali"

In [47]:
my_str.isalpha() or str_example.isalpha()

True

# List

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets

In [48]:
type([])

list

In [49]:
lst_example=[]

In [50]:
type(lst_example)

list

In [90]:
lst=list()

In [91]:
type(lst)

list

In [92]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [93]:
len(lst)

6

In [94]:
type(lst)

list

# Append

In [95]:
#.append is used to add elements in list
lst.append("Sonali")
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Sonali']

In [96]:
lst.append(["Prasad","Kavita"])

In [97]:
lst[1:8]

['chemistry', 100, 200, 300, 204, 'Sonali', ['Prasad', 'Kavita']]

# Insert

In [98]:
#insert in specific location
lst.insert(2,"Narharshettiwar")

In [99]:
lst

['Mathematics',
 'chemistry',
 'Narharshettiwar',
 100,
 200,
 300,
 204,
 'Sonali',
 ['Prasad', 'Kavita']]

In [100]:
lst2=[1,2,3,4,5,6,]
lst2.insert(3,0)

In [101]:
lst2

[1, 2, 3, 0, 4, 5, 6]

In [103]:
lst2.append([7,8])
lst2

[1, 2, 3, 0, 4, 5, 6, [7, 8], [7, 8]]

# Various operation to be performed in list

In [108]:
lst3=[1,2,3,4,5,6]

In [109]:
sum(lst3)

21

In [110]:
lst3*5

[1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6]

# Extend method

In [111]:
lst4=[1,2,3,4,5,6,7]

In [112]:
lst4.extend([8,9])

In [114]:
lst4

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Pop method

In [123]:
lst4=["sda","ds","dfsfafas","tfc"]
lst4.pop()

'tfc'

In [124]:
lst4

['sda', 'ds', 'dfsfafas']

### count():Calculates total occurrence of given element of List

In [125]:
lst5=[1,1,2,3,3,2,4,2]
lst5.count(3)

2

In [126]:
len(lst5)

8

In [133]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst5.index(4)

6

In [134]:
min(lst5)

1

In [135]:
max(lst5)

4

# Sets
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [136]:
#defining the empty set
set_var=set()
print(set_var)

set()

In [138]:
print(type(set_var))

<class 'set'>

In [141]:
set_var={"Avengers","Iron Man","Hulk"}
print(set_var)
type(set_var)

{'Hulk', 'Avengers', 'Iron Man'}

set

In [159]:
set_var.add("Captain America")
set_var.add("Hulk")

In [160]:
set_var

{'Avengers', 'Captain America', 'Hulk', 'Iron Man'}

In [151]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [152]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [149]:
#update in set2
set2.intersection_update(set1)
set2

{'Avengers', 'Hitman', 'IronMan'}

In [153]:
##Difference 
set2.difference(set1)

{'Hulk2'}

# Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [154]:
dic={}

In [155]:
type(dic)

dict

In [161]:
#lets create a dictionary
my_dict={"Car1":"Nano","Car2":"Alto","Car3":"Fortuner"}

In [162]:
type(my_dict)

dict

In [163]:
##Access the item values based on keys

my_dict['Car1']

'Nano'

In [166]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [167]:
for x in my_dict.values():
    print(x)

Nano
Alto
Fortuner

In [168]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Nano')
('Car2', 'Alto')
('Car3', 'Fortuner')

In [169]:
my_dict["car4"]="Audi"
my_dict["car5"]="Maruti"

In [170]:
my_dict

{'Car1': 'Nano',
 'Car2': 'Alto',
 'Car3': 'Fortuner',
 'car4': 'Audi',
 'car5': 'Maruti'}

# Nested Dictionary

In [172]:
car1_model={'Mercedes':1960}
car2_model={"Audi":1970}
car3_model={"Honda city":1980}
car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [173]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Honda city': 1980}}

In [174]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [175]:
print(car_type['car1']['Mercedes'])

1960

# Tuples
A Tuple is a collection of Python objects separated by commas. In someways a tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is immutable unlike lists which are mutable and value inside tuples cannot be changed.

In [176]:
my_tuple=tuple()

In [177]:
type(my_tuple)

tuple

In [178]:
my_tuple=()

In [179]:
type(my_tuple)

tuple

In [180]:
my_tuple=("Krish","Ankur","John")

In [181]:
#tuple's single item cannot be changes, whole tuple is to be changes
my_tuple=("Sonali","Narharshettiwar")

In [182]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Sonali', 'Narharshettiwar')

In [183]:
## Inbuilt function
my_tuple.count('Sonali')

1

In [184]:
## Inbuilt function
my_tuple.count('Krish')

0